<div>
    <div class="single-product">
        <div class="part-1 prodAnimation" style="background: url({{prodotto.percorso}}) no-repeat center; background-size: contain; transition: all 0.3s ease 0s;">
            <ul>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-expand"></i></a></li>
            </ul>
        </div>
        <div class="part-2">
            <h3 class="product-title">{{prodotto.nome}}</h3>
            <h4 class="product-price">{{prodotto.prezzo}}&euro;</h4>
        </div>
    </div>
</div>