<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>create</title>
</head>

<body>
    <div class="container" style="margin-top: 5rem;">
        <div class="row ">
            <div class="col-1"></div>
            <div class="col d-flex justify-content-center">
                <label for="inputCategory "> <strong>Nuova categoria</strong></label>
                <input type="text " id="inputCategory" style="height: fit-content" />
                <label for="inputCategory "> <strong>Percorso</strong></label>
                <input type="text " id="inputCategoryPath" style="height: fit-content" />
                <button onclick="aggiungiCategoria()" type="button " class="btn-primary " style="border-radius: 5px; margin-left: 5rem; height: fit-content">Conferma</button>
            </div>
        </div>
    </div>
</body>

</html>