<body>
    <div class="container h-100">
        <div id="header"></div>

        <h2 style="text-align: center;">Pannello di controllo</h2>
        <div class="row">

            <div class="col-3">
                <div class="sidenav">
                    <h2 style="text-align: center;">Categoria</h2>
                    <a style="cursor:pointer" (click)="cambiaVista(1)"><strong><i class="fa fa-plus" aria-hidden="true" ></i> Crea</strong></a>
                    <a style="cursor:pointer" (click)="cambiaVista(2)"><strong><i class="fa fa-eye" aria-hidden="true"></i>Mostra </strong> </a>
                    <br>
                    <h2 style="text-align: center;">Prodotto</h2>
                    <a style="cursor:pointer" (click)="cambiaVista(3)"><strong><i class="fa fa-plus" aria-hidden="true"></i> Crea</strong></a>
                    <a style="cursor:pointer" (click)="cambiaVista(4)"><strong><i class="fa fa-eye" aria-hidden="true"></i>Mostra </strong> </a>
                    <h2 style="text-align: center;">Utenti</h2>
                    <a style="cursor:pointer" (click)="cambiaVista(5)"><strong><i class="fa fa-eye" aria-hidden="true"></i>Mostra </strong> </a>
                </div>
            </div>
            <div class="col-9">
                <div [ngSwitch]="operazione">
                    <creacategoria *ngSwitchCase='1'></creacategoria>
                    <mostracategoria *ngSwitchCase='2'></mostracategoria>
                    <creaprodotto *ngSwitchCase='3'></creaprodotto>
                    <mostracategoria *ngSwitchCase='4'></mostracategoria>
                    <mostrautenti *ngSwitchCase='5'></mostrautenti>
                    <div *ngSwitchDefault></div>
                </div>
            </div>
        </div>

    </div>

</body>