<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Mostra Categorie</title>
</head>

<body>
    <div class="container d-flex justify-content-between" style="margin-top: 5rem;">
        <div class="col-1"></div>
        <div id="listaCategorie" style="list-style: none; font-size: larger;"></div>
        <div id="operazioni" style="list-style: none; font-size: larger;"></div>
    </div>
    <div id="result"></div>
</body>

</html>