<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Carrello</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container-fluid">
            <cartproduct *ngFor="let prodotto of listaProdotti" [prodotto]="prodotto"></cartproduct>
        </div>
        <div class="row ">
            <div class="col-12" style="font-size:x-large; text-align: right; "> <strong> Totale: {{calcolaTotale()}}&euro;</strong></div>
            <br><br>
            <a href="checkout.html"><button class="btn btn-primary align-items-center " type="button " id="buyButton ">
                Acquista
              </button></a>
        </div>

        <div class="row ">
            <div class="col ">
                <div class="dropdown mt-3 " style="align-content:flex-end; ">

                </div>
            </div>
        </div>
    </div>
</div>